@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primaryFont {
  font-family: "Urbanist", sans-serif;
}
button:hover {
  background-color: #020816;
  box-shadow: inset 0 0 0 2px #4f32f6;
  color: rgb(123, 123, 123);
}
.container {
  background-color: #020816;
  color: white;
  height: 100vh;
  width: 100%;
}
.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primaryBorder {
  border: 2px solid #4f32f6;
  border-radius: 8px;
}
/* form related css */

.formContainer {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.formInputWrapper {
  display: flex;
  flex-direction: column;
}
.formInputLabel {
  font-size: 14px;
  margin-bottom: 8px;
}
.formInput {
  background-color: #020816;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #4f32f6;
  padding: 0 12px 0 12px;
}
.formSubmitBtn {
  text-transform: uppercase;
  height: 56px;
  background-color: #4f32f6;
  border-radius: 8px;
}
/* white line */
.horizontalLine {
  background-color: white;
  width: 100%;
  max-width: 220px;
  height: 2px;
  border-radius: 9999px;
}

/* highlight bar */
.highlBar {
  background-color: rgba(170, 155, 255, 0.1);
  height: 96px;
  gap: 8px;
  font-size: 12px;
}
/* navbar hover effect */

ul.hoverEffect li a:hover {
  color: #4f32f6;
}
